DATABASE_URL="postgresql://neondb_owner:npg_05QzJkOgFEvI@ep-cold-firefly-amw6cd3a-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="a5d49b730dc6e74efe761ba83153e9be"
FRONTEND_URL="http://localhost:5173"
PORT=5000
NODE_ENV="development"