DATABASE_URL="postgresql://postgres:pgadmin@localhost:5432/vigility_dashboard"
JWT_SECRET="s3t0bd/S9CHkwUIIhPQ/gj55gHK2KEMRQJIPRgSKtpY="
FRONTEND_URL="http://localhost:5173"
PORT=5000
NODE_ENV="development"